@model InlasoftWeb.Models.Caso

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de Caso</h2>

<div>
    <h4>Caso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contraparte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contraparte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servicio.ServicioNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servicio.ServicioNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servicio.Materia.MateriaNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servicio.Materia.MateriaNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Catastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Catastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.ClienteNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.ClienteNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.SucursalNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sucursal.SucursalNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a Listado</a>
</div>
