@model InlasoftWeb.ViewModels.CasoDetailViewModel
@using InlasoftWeb.Helpers

@{
    ViewData["Title"] = "Details";
    ViewData["tab"] = ViewContext.HttpContext.Request.Query["tab"].ToString();
}

<h2>Detalles de Caso</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Descripcion)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contraparte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contraparte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Catastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Catastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sucursal)
        </dd>
    </dl>

    <ul class="nav nav-tabs">
        <li class="@TabNavigationHelper.SetActiveTab(ViewData["tab"].ToString(), string.Empty)">@Html.ActionLink("Audiencias", "Details", "Casos", new { id = Model.CasoId})</li>
        <li class="@TabNavigationHelper.SetActiveTab(ViewData["tab"].ToString(), "Gestiones")">@Html.ActionLink("Gestiones", "Details", "Casos", new { id = Model.CasoId, tab = "Gestiones" })</li>
        <li class="@TabNavigationHelper.SetActiveTab(ViewData["tab"].ToString(), "Documentos")">@Html.ActionLink("Documentos", "Details", "Casos", new { id = Model.CasoId, tab = "Documentos" })</li>
        <li class="@TabNavigationHelper.SetActiveTab(ViewData["tab"].ToString(), "Reuniones")">@Html.ActionLink("Reuniones", "Details", "Casos", new { id = Model.CasoId, tab = "Reuniones" })</li>
    </ul>
    @{
        switch (ViewData["tab"].ToString())
        {
            case "":
                @Html.Partial("_AudienciasList", Model.Audiencias)
                break;
            case "Gestiones":
                @Html.Partial("_GestionesList", Model.Gestiones)
                break;
            case "Documentos":
                @Html.Partial("_DocumentosList", Model.Documentos)
                break;
            case "Reuniones":
                @Html.Partial("_ReunionesList", Model.Reuniones)
                break;
        }
    }
</div>
<div>
    <a asp-action="Index">Volver a Listado</a>
</div>
