@model IEnumerable<InlasoftWeb.Models.Caso>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contraparte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraparte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.FirmaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.ServicioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CasoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CasoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CasoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
