@model IEnumerable<InlasoftWeb.Models.Caso>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado de Casos</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servicio.ServicioNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contraparte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.ServicioNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraparte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CasoId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
