@model IEnumerable<InlasoftWeb.ViewModels.CasoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado de Casos</h2>
<form asp-action="Index" method="get">
    <div class="col-md-12">
        <span>Buscar :
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-default" />
        </span>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.FechaInicio)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Descripcion)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ClienteSortParm"]">@Html.DisplayNameFor(model => model.Cliente)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sucursal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contraparte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catastro)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraparte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catastro)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CasoId" class="glyphicon glyphicon-folder-open"></a>
            </td>
        </tr>
}
    </tbody>
</table>
